<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166924199141-k5hvp6cjsjtuemovhbvirol673eev96a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166924199141-k5hvp6cjsjtuemovhbvirol673eev96a</string>
	<key>API_KEY</key>
	<string>AIzaSyBS80H25d1q-mkm6vmu4NhbiyDFXpFfEXg</string>
	<key>GCM_SENDER_ID</key>
	<string>166924199141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recordmmend</string>
	<key>PROJECT_ID</key>
	<string>recordmmend</string>
	<key>STORAGE_BUCKET</key>
	<string>recordmmend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166924199141:ios:5744928e9b6928c65ba00c</string>
</dict>
</plist>